{% extends "short_url/base.html" %}
{% load static %}

{% block url_content %}
<div class="container">
    <div class="card">
        <div class="card-header">
          Your Long URL
        </div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                  <div class="mb-3">
                    <label for="long_url" class="form-label">Long URL *</label>
                    <input type="text" class="form-control" id="long_url" name="long_url" placeholder="Enter your long_url" required>
                  </div>

                  <div class="mb-3">
                    <label for="custom_url" class="form-label">Custom URL</label>
                    <input type="text" class="form-control" id="custom_url" name="custom_url" placeholder="Enter your custom_url eg. abc">
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Generate URL</button>
                  </div>
      
            </form>
        </div>
      </div>
</div>
{% endblock url_content %}